{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home | TPS-CENTER ASOKWA" %}{% endif %} {% endblock %}


{% block content %}


        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Home</h3> </div>
               
            </div>
                    <div class="col-lg-9">
                                <div class="card-content">
                                    {% if messages %}
                                    <div class="alert alert-primary alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                       
 
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                   





                                    </div> {% endif %}
                                </div>
                    </div>
                        <!-- /# card -->
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row" align="center">
                    <div class="col-lg-9">
                        <div class="row">
                        <div class="col-lg-11">
                            <div class="card">
                                <div class="card-title">
                                    <img src="{% static 'images//graw.jpg' %}">
                                        <div class="card-toggle-body">
                                             {% if user.is_authenticated %}
                                <div class="btn-group btn-group-justified">
                                        <a href="entry/new" class="btn btn-lg btn-info">Financial Statement</a>
                                        <a href="letters" class="btn btn-lg btn-info">Letters</a>
                                        <a href="tcc" class="btn btn-lg btn-info">TCC</a>
                                        <a href="turnover" class="btn btn-lg btn-info">Turn Over</a>
                                        <a href="dispatch" class="btn btn-lg btn-info">Dispatch</a>
                                        {% if user.is_superuser %}
                                        <a href="/todo" class="btn btn-lg btn-info">Assign</a>
                                        <a href="approve" class="btn btn-lg btn-info">Approve</a>
                                        {% endif %}
                                    </div>
                                     {% else %}
                                        
                                     {% endif %}
                            </div>
                                </div>


                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                        

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="year-calendar"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->

        </div>
        <!-- End Page wrapper  -->

{% endblock %}