{% extends "base2.html" %}
{% load static crispy_forms_tags i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans " New Turn Over Entry | TPS-CENTER ASOKWA" %}{% endif %}{% endblock %}

{% block content %}



            <!-- Bread crumb -->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Turn Over Entry</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="/">Dashboard</a></li>
                                    <li><a href="/turnover/submit_turnover">Entry</a></li>
                                    <li class="active">New</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- End Bread crumb -->

        <div class="content">
            <div class="animated fadeIn">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">New Entry</strong>
                               <div class="btn-group btn-group-justified float-right">
                                        <a href="/turnover/entries"><button  href="/turnover/entries" type="button" class="btn-sm btn-warning"><i class="fa fa-table"></i>&nbsp; View Entries</button></a>
                                </div>
                            </div>
                            <div class="card-body">
                                   <form action="{% url 'turnover:submit_turnover' %}" enctype='multipart/form-data' method='Post'>{% csrf_token %}
                                                  {% crispy form form.helper %}
                                                  <br><br>
                                                
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}

