{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png">
   <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->


    <link href="{% static 'css/calendar2/semantic.ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
<![endif]-->
{% block extrahead %}
    <!-- CSS and JavaScripts for django-todo -->
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/styles.css' %}" />
{% endblock extrahead %}
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
     <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
       

        <font color="black">

                <!-- Nav tabs -->
                {% block content %}

                {% endblock %}


            <!-- footer -->
            <footer class="footer"> GRA TPS-CENTER ASOKWA © 2018 All rights reserved. designed by <a href="https://twitter.com/mawy_7" target="/">mawy_7</a></footer>
            <!-- End footer -->




        </font>
        
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->


    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'js/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'js/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
     <script src="{% static 'js/morris-chart/raphael-min.js' %}"></script>
    <script src="{% static 'js/morris-chart/morris.js' %}"></script>
    <script src="{% static 'js/morris-chart/dashboard1-init.js' %}"></script>


    <script src="{% static 'js/calendar-2/moment.latest.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/calendar-2/pignose.init.js' %}"></script>

    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel-init.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- scripit init-->

    
    <script src="{% static 'js/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'js/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/datatables/datatables-init.js' %}"></script>

    <script src="{% static 'js/custom.min.js' %}"></script>


<script type="text/javascript">
function showEditPopup(url) {
    var win = window.open(url, "Edit", 
        'height=500,width=800,resizable=yes,scrollbars=yes');
    return false;
}
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}
function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

</script>

<script type="text/javascript">
    
$("#edit_organization").click(function(){
    organization_name = $("#id_organization option:selected").text();
    var data = {"organization_name":organization_name};
    $.ajax({
        type : 'GET',
        url :  '/organization/ajax/get_organization_id',
        data : data,
        success : function(data){
            var url = "/organization/" + data['organization_id'] + "/edit/";
            showEditPopup(url);
        },
        error: function(data) {
          alert("Something Went Wrong"); 
        }
    });
})
</script>
</body>

</html>