{% extends "registration/registration_base.html" %}
{% load i18n static crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}

    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card">
                            <div class="login-form">
                                <img src="{% static 'images/logo-text1.png' %}" alt=""/>
                                <h4>TPS-CENTER ASOKWA</h4>
                                    <form method="post" action="">
                                                    {% csrf_token %}
                                                    {{ form|crispy }}
                                                    <input class="btn btn-success btn-lg" type="submit" value="{% trans 'Submit' %}" />
                                                    <strong><p>{% trans "Already have an account?" %} <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>.</p></strong>
                                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Wrapper --> 
{% endblock %}
